<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="styleshee" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>블로그 게시글</title>
    <style>
       .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }

       input[type=love] {

           zoom: 3;

       }

    </style>
</head>
<body>
<div class="mb-3">
    <h1> Blog </h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <form action="/api/edit-page" method="post"  onsubmit="jbSubmit()">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id = "id" name="id" placeholder="Username" aria-label="Username"
                               aria-describedby="basic-addon1" th:value="${post.getId()}">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2" >title</span>
                        <input type="text" class="form-control" id = "title" name="title" placeholder="Username" aria-label="Username"
                               aria-describedby="basic-addon1" th:value="${post.getTitle()}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">content</span>
                        <input type="text" class="form-control" id = "content" name="content" placeholder="Username" aria-label="Username"
                               aria-describedby="basic-addon1" th:value="${post.getContent()}">
                    </div>
                    <input id="signupSuccess" type="submit" value="수정하기">
                    <button type="button" class="cancelBtn" id="delete-btn">삭제하기</button>
                </form>


            </article>
        </div>
    </div>
</div>
<div class="bottom">
    <p id="numberP"></p>
    <input type="checkbox" name="love" >
    <button class="writeBtn" onclick="result()">좋아요</button>
</div>

</body>

<script th:inline="javascript">
    $(document).ready(function () {
        var post =[[${post}]];
        $('#id').hide();
        $('#title').attr('disabled', true);
        $('#content').attr('disabled', true);

        $.ajax({
            url: `/Good/goodnumber/${id}`,
            type: "Get",
            success: function(response){
                console.log(response);
                // $('#numberP').setAttribute('value',response);
                var element = document.getElementById("numberP");
                element.innerText = response;

            }
        });

    });


    var post =[[${post}]];

    let id = post.id;
    var test;
    $.ajax({
        url: `/Good/getGood/${id}`,
        type: "Get",
        success: function(response){
            console.log($("#love").val())
            if(response){
                //데이터가 이미 있음
                test = response;
                 console.log("true",test)
                $("input[name='love']").attr("checked", true);
            }else{
                //데이터가 없음
                // console.log(response)
                test = response;
                console.log("false",test)
                $("input[name='love']").attr("checked", false);

            }
        }
    });

    function result(){
        alert("좋아요")

        // 버튼을 눌렀을때
        $.ajax({
            url: `/Good/posts/${id}/click`,
            type: "DELETE",
            data: {"requestDto" : !test},
            success: function(response){
                $.ajax({
                    url: `/Good/getGood/${id}`,
                    type: "Get",
                    success: function(response){
                        if(response){
                            test = response;
                            console.log("true",test)
                            $("input[name='love']").attr("checked", true);
                        }else{
                            test = response;
                            console.log("false",test)
                            $("input[name='love']").attr("checked", false);
                        }

                        $.ajax({
                            url: `/Good/goodnumber/${id}`,
                            type: "Get",
                            success: function(response){
                                console.log(response);
                                // $('#numberP').setAttribute('value',response);
                                var element = document.getElementById("numberP");
                                element.innerText = response;

                            }
                        });
                    }
                });
            }
        });
    }




    const deleteButton = document.getElementById('delete-btn')

    if (deleteButton) {
        deleteButton.addEventListener('click', event => {
             let id = post.id;
            fetch(`/api/posts/${id}`, {
                method: 'DELETE'
            })
                .then((response) => {
                    console.log(response['status']);

                    if(response['status'] == 200){
                        alert('삭제가 완료되었습니다.');
                        location.replace('/');
                    }else{
                        alert('삭제할 수 없습니다.');
                    }
                })

        });
    }

    function jbSubmit(){
        $('#title').attr('disabled', false)
        $('#content').attr('disabled', false)
    }

</script>



